.watchlist {
    width: 100%;
    display: flex;
    justify-content: center;
}


.header {
    display: flex;
}

.movie-list {
    margin-top: 24px;
    align-self: left;
    width: min(1200px, 96%);
}

select {
    margin-left: 0.5rem;
}

.movie {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.film-header,
.rating-symbols {
    flex: 1;
}

.sorting-method,
.hide-details-checkbox {
    margin: 0 1rem;
}


.rating-symbols {
    text-align: right;
}

.hide {
    display: none;
}

