.watchlist {
    width: 100%;
    display: flex;
    justify-content: center;
}

.movie-list {
    margin-top: 24px;
    align-self: center;
}

select {
    margin-left: 0.5rem;
}

.movie {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    margin: 1rem;
}

.film-header,
.sorting-method,
.rating-symbols {
    flex: 1;
}

.sorting-method {
    text-align: center;
}

.rating-symbols {
    text-align: right;
}

