.page {
    display: flex;
    justify-content: center;
    width: 100%;
}

div.add-movies {
    text-align: center;
    width: min(1200px, 96%);
}

input.search-bar {
    margin: 8px;
    font-size: large;
    border: 1px solid grey;
    padding-left: 4px;
    border-radius: 6px;
}