.sign-in-create-account-container > input, 
label {
    display: block;
}

#create-email-input,
#create-password-input,
#login-email-input,
#login-password-input{
    border: 1px solid rgb(62, 62, 62);
    border-radius: 4px;
}


.sign-in-create-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-header {
    margin: 10px;
}

.login, .sign-up {
    margin: 4px;
}

.hide {
    display: none;
    border: 0;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-in-msg > button,
#create-account-msg > button  {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
}