.image-compare {
    width: 80%;
    margin: 0.5rem;
}

.content {
    display: flex;
}

.full-details {
    display: flex;
    gap: 1rem;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.main-details {
    flex: 3;
}

.ratings {
    flex: 1;
}

.budget,
.revenue {
    display: inline;
    margin: 4px
}