img.image-compare {
    width: 80%;
    margin: 0.5rem;
    max-width: 200px;
}

.compare-content {
    display: flex;
}

.movie-details {
    display: flex;
    gap: 1rem;
}

.compare-content > .image-container {
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.main-details {
    flex: 3;
}

.ratings {
    flex: 1;
}

.budget,
.revenue {
    display: inline;
    margin: 4px;
    margin-left: 0px;
}
.budget-revenue {
    margin-top: 10px;
}

